* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
}
.header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.container {
    overflow: hidden;
    background: white;
}
.page {
    width: 1100px;
    margin: 0 auto; 
    overflow: hidden;
}
.menu {
    height: 100px;
    background-color: white;
    padding-bottom: 30px;
}
.sidebar {
    float: left;
    height: 150px;
    width: 150px;
    padding-top: 20px;
    margin-left: 30px;
    background-color: white;
}
ul {
    list-style-type: none;
}
.hi {
    font-size: larger;
    font-weight: 600;
    font-style: italic;
    font-family: 'Montserrat', sans-serif; 
    padding-top: 20px;
}
.content {
    float: left;
    width: 400px;
    background-color: white;
    padding: 20px 40px 20px 20px;
    text-align: justify;
    line-height: 1,7;
}
.img {
    float: left;
    width: 400px;
    padding-left: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
}
.text { 
    padding-top: 30px;
    text-align: justify;
    width: 400px;
    line-height: 1,7;
}
.footer {
    clear: both;
    height: 100px;
    background-color: white;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: grey
}
a:hover {
    color: green
}
a:active {
    color: hotpink;
}