body {
    margin: 0;
    background-color: white;
}

.site-title {
    font-family: 'Montserrat', sans-serif;
  }

header {
    display: grid;
    grid-template-columns: 400px auto 400px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #4DA167;
  }

.navigation-container {
    text-align: center;
  }

.navigation-container a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
  }
a.contact-page {
   text-decoration: none;
   color: black;
   font-family: 'Montserrat',
   sans-serif;
}

a.footer-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Montserrat',
    sans-serif;
}

a:visited {
    color: #32533D;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #32533D;
  }

.search-field {
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
  }

.google-map {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.map-image {
    width: 100%;
    height: auto;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(255, 255, 255);
    padding: 10px 100px;
}

.contact-left {
    padding: 50px;
}

.contact-right {
    padding: 50px;
}

.contact-form {
    width: 100%;
    height: 200px;
    padding: 20px;
}

h1.contact-header {
    font-family: 'Montserrat', sans-serif;
    color: #4DA167;
    margin-top: 0;
}

.label-name {
    color: rgb(65, 65, 65);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 3px;
}

.label-message {
    color: rgb(65, 65, 65);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 3px;
}

.message-area {
    resize: none;
    margin-top: 3px;
    border-radius: 3px;
    border-color: #cccccc;
}

input[type=text] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 25px;
}

.contact-button {
    background-color: #4DA167;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 5px;
}

.contact-button:hover {
    background-color: #32533D;
}

h2.adress-header {
    color: #4DA167;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.contact-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 300;
}

hr.adress-divider {
    margin-bottom: 10px;
    border: 0.02rem dotted #cccccc;
}

footer {
    display: grid;
    grid-template-columns: 300px auto 300px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 0 px;
    padding-bottom: 0px;
    background-color: #4DA167;
    padding-bottom: 20px;
}

.footer-container {
    width: 100%;
    color: white;
    text-align: center;
}

.footer-container a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.contact-info-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.contact-info-footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.contact-info-email {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.contact-info-social {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.site-map-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5 px;
}

.navigation-footer {
    list-style-type: none;
    display: inline-block;
    line-height: 28px;
}

.newsletter-container {
    font-family: 'Montserrat', sans-serif;
}

.subscribe-to-newsletter-title {
    color: black;
}

.newsletter-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.form-placeholder {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    height: 30px;
}

.submit-button {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.submit-button-container {
    text-align: right;
    margin-right: 23px;
}
