title {
    font-family: arial; 
}
header {
    display: grid;
    grid-template-columns: 300px auto 300px;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: green;
}

.navigation-container {
    text-align:center; 
}

.navigation-container a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: arial; 
}

  a:visited {
    color: green;
  }
  
  a:hover {
    color: red;
  }

  a:active {
    color: yellow;
  }